Node-RED/flows.json
[{"id":"a9cd0b85.b715c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"console":"false","complete":"false","x":570,"y":40,"wires":[]},{"id":"1f06afee.db7a3","type":"ibmiot in","z":"a9cd0b85.b715c8","authentication":"apiKey","apiKey":"1afdbfc2.b8538","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"101","applicationId":"","deviceType":"rasppi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":40,"wires":[["f2f2649a.0d0d98","4656d021.489ff","5adaf1ec.e2a1c","d0bdd2f2.fd42","8ab83eed.3d355","9990fd79.77e2","9b9c5c9d.86ae9"]]},{"id":"4656d021.489ff","type":"function","z":"a9cd0b85.b715c8","name":"temperature","func":"global.set('temperature', msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":100,"wires":[["f2f2649a.0d0d98","2692e01d.08fa1"]]},{"id":"5adaf1ec.e2a1c","type":"function","z":"a9cd0b85.b715c8","name":"humidity","func":"global.set('humidity', msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["f2f2649a.0d0d98","827c317c.8b8c8"]]},{"id":"13f02a44.8fe3f6","type":"http request","z":"a9cd0b85.b715c8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://c0fecf4c-33b6-4643-a0e8-317729a00e34-bluemix.cloudant.com/imagesdb/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":420,"wires":[["287d792c.f57be6","dbb89bbf.673c78"]]},{"id":"287d792c.f57be6","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"dbb89bbf.673c78","type":"function","z":"a9cd0b85.b715c8","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["287d792c.f57be6","cd4d099c.dc5aa8"]]},{"id":"cd4d099c.dc5aa8","type":"ui_template","z":"a9cd0b85.b715c8","group":"5b3411bd.bca96","name":"","order":5,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":580,"wires":[[]]},{"id":"4fb00fbf.67961","type":"ui_button","z":"a9cd0b85.b715c8","name":"Door : OPEN","group":"5b3411bd.bca96","order":6,"width":0,"height":0,"passthru":false,"label":"Door : OPEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"dooropen\"}","payloadType":"json","topic":"","x":390,"y":640,"wires":[["a7923d2a.8233f","b1d66db9.e3ed3"]]},{"id":"52793b0b.1c1954","type":"ui_button","z":"a9cd0b85.b715c8","name":"Door : CLOSE","group":"5b3411bd.bca96","order":7,"width":0,"height":0,"passthru":false,"label":"Door : CLOSE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"doorclose\"}","payloadType":"json","topic":"","x":380,"y":720,"wires":[["a7923d2a.8233f","b1d66db9.e3ed3"]]},{"id":"a7923d2a.8233f","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":640,"wires":[]},{"id":"b1d66db9.e3ed3","type":"ibmiot out","z":"a9cd0b85.b715c8","authentication":"apiKey","apiKey":"1afdbfc2.b8538","outputType":"cmd","deviceId":"101","deviceType":"rasppi","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":720,"wires":[]},{"id":"82da640.d82e2a","type":"ui_button","z":"a9cd0b85.b715c8","name":"Light : ON","group":"5b3411bd.bca96","order":8,"width":0,"height":0,"passthru":false,"label":"Light : ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":400,"y":800,"wires":[["bdbb1b9b.6ee438","94acf642.df7508"]]},{"id":"bdbb1b9b.6ee438","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"94acf642.df7508","type":"ibmiot out","z":"a9cd0b85.b715c8","authentication":"apiKey","apiKey":"1afdbfc2.b8538","outputType":"cmd","deviceId":"101","deviceType":"rasppi","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":880,"wires":[]},{"id":"503264f2.fb089c","type":"ui_button","z":"a9cd0b85.b715c8","name":"Light : OFF","group":"5b3411bd.bca96","order":9,"width":0,"height":0,"passthru":false,"label":"Light : OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","x":390,"y":880,"wires":[["bdbb1b9b.6ee438","94acf642.df7508"]]},{"id":"b9f48ef2.0c57d","type":"ui_button","z":"a9cd0b85.b715c8","name":"Fan : OFF","group":"5b3411bd.bca96","order":11,"width":0,"height":0,"passthru":false,"label":"Fan : OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"fanoff\"}","payloadType":"json","topic":"","x":390,"y":1040,"wires":[["289a6184.a5f64e","b616b64f.3a0c48"]]},{"id":"289a6184.a5f64e","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":960,"wires":[]},{"id":"b616b64f.3a0c48","type":"ibmiot out","z":"a9cd0b85.b715c8","authentication":"apiKey","apiKey":"1afdbfc2.b8538","outputType":"cmd","deviceId":"101","deviceType":"rasppi","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":1040,"wires":[]},{"id":"98af3e0c.ae9e1","type":"ui_button","z":"a9cd0b85.b715c8","name":"Fan : ON","group":"5b3411bd.bca96","order":10,"width":0,"height":0,"passthru":false,"label":"Fan : ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"fanon\"}","payloadType":"json","topic":"","x":400,"y":960,"wires":[["289a6184.a5f64e","b616b64f.3a0c48"]]},{"id":"d0bdd2f2.fd42","type":"function","z":"a9cd0b85.b715c8","name":"gas","func":"global.set('gas', msg.payload.d.gas)\nmsg.payload=msg.payload.d.gas\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["f2f2649a.0d0d98","53cde828.c47d98"]]},{"id":"8ab83eed.3d355","type":"function","z":"a9cd0b85.b715c8","name":"flame","func":"global.set('flame', msg.payload.d.flame)\nmsg.payload=msg.payload.d.flame\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["f2f2649a.0d0d98","cc144f0d.86225"]]},{"id":"53cde828.c47d98","type":"ui_text","z":"a9cd0b85.b715c8","group":"5b3411bd.bca96","order":3,"width":0,"height":0,"name":"Gas :","label":"Gas :","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":180,"wires":[]},{"id":"cc144f0d.86225","type":"ui_text","z":"a9cd0b85.b715c8","group":"5b3411bd.bca96","order":4,"width":0,"height":0,"name":"Flame :","label":"Flame :","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":220,"wires":[]},{"id":"2692e01d.08fa1","type":"ui_text","z":"a9cd0b85.b715c8","group":"5b3411bd.bca96","order":1,"width":0,"height":0,"name":"Temperature :","label":"Temperature :","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":100,"wires":[]},{"id":"827c317c.8b8c8","type":"ui_text","z":"a9cd0b85.b715c8","group":"5b3411bd.bca96","order":2,"width":0,"height":0,"name":"Humidity :","label":"Humidity :","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":140,"wires":[]},{"id":"162a84ec.094cab","type":"function","z":"a9cd0b85.b715c8","name":"webpage","func":"msg.payload={'temperature':global.get(\"temperature\"), 'humidity':global.get(\"humidity\"), 'gas':global.get(\"gas\"), 'flame':global.get(\"flame\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["53950e78.9725b"]]},{"id":"7e4ae3d4.0633ac","type":"http in","z":"a9cd0b85.b715c8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":360,"wires":[["162a84ec.094cab"]]},{"id":"53950e78.9725b","type":"http response","z":"a9cd0b85.b715c8","name":"","statusCode":"","headers":{},"x":570,"y":360,"wires":[]},{"id":"169b5e68.5facc2","type":"http in","z":"a9cd0b85.b715c8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":280,"y":1140,"wires":[["c513329b.9ff33"]]},{"id":"c513329b.9ff33","type":"function","z":"a9cd0b85.b715c8","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1140,"wires":[["b85fdbd5.24a228","b1d66db9.e3ed3","94acf642.df7508","b616b64f.3a0c48","bc4fcb45.769098"]]},{"id":"b85fdbd5.24a228","type":"http response","z":"a9cd0b85.b715c8","name":"","statusCode":"","headers":{},"x":690,"y":1140,"wires":[]},{"id":"bc4fcb45.769098","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":1240,"wires":[]},{"id":"ce738162.bd3b2","type":"http in","z":"a9cd0b85.b715c8","name":"","url":"/pic","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1340,"wires":[["233cecd8.afaa44"]]},{"id":"68bb73ad.3dc85c","type":"http response","z":"a9cd0b85.b715c8","name":"","statusCode":"","headers":{},"x":750,"y":1380,"wires":[]},{"id":"2940d663.1c0afa","type":"function","z":"a9cd0b85.b715c8","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1380,"wires":[["68bb73ad.3dc85c"]]},{"id":"eedba50d.3a60a8","type":"debug","z":"a9cd0b85.b715c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1300,"wires":[]},{"id":"67613f39.75164","type":"inject","z":"a9cd0b85.b715c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":420,"wires":[["13f02a44.8fe3f6"]]},{"id":"233cecd8.afaa44","type":"http request","z":"a9cd0b85.b715c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://c0fecf4c-33b6-4643-a0e8-317729a00e34-bluemix.cloudant.com/imagesdb/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":1340,"wires":[["eedba50d.3a60a8","2940d663.1c0afa"]]},{"id":"9990fd79.77e2","type":"switch","z":"a9cd0b85.b715c8","name":"","property":"payload.d.gas","propertyType":"msg","rules":[{"t":"eq","v":"Gas","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":260,"wires":[["61dce8a8.e55018"]]},{"id":"9dc24470.98be28","type":"ui_toast","z":"a9cd0b85.b715c8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alert!","name":"","x":610,"y":260,"wires":[]},{"id":"61dce8a8.e55018","type":"template","z":"a9cd0b85.b715c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Gas Detected!","output":"str","x":380,"y":260,"wires":[["9dc24470.98be28"]]},{"id":"9b9c5c9d.86ae9","type":"switch","z":"a9cd0b85.b715c8","name":"","property":"payload.d.flame","propertyType":"msg","rules":[{"t":"eq","v":"Flame","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":300,"wires":[["54b43cb0.62d264"]]},{"id":"54b43cb0.62d264","type":"template","z":"a9cd0b85.b715c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Flame Detected!","output":"str","x":380,"y":300,"wires":[["a0261d33.4f654"]]},{"id":"a0261d33.4f654","type":"ui_toast","z":"a9cd0b85.b715c8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alert!","name":"","x":610,"y":300,"wires":[]},{"id":"1afdbfc2.b8538","type":"ibmiot","z":null,"name":"IBM IoT","keepalive":"60","serverName":"g7khju.messaging.internetofthings.ibmcloud.com/","cleansession":true,"appId":"","shared":false},{"id":"5b3411bd.bca96","type":"ui_group","z":"","name":"Dashboard","tab":"eb844b7f.57f3a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb844b7f.57f3a8","type":"ui_tab","z":"","name":"Smart Security System For Homes","icon":"dashboard","disabled":false,"hidden":false}]